<footer>
    <div class="footer_box">
        <div class="footer_content_list">
            <div>
                <p>
                    이름: 전채연<br>
                    학번: 20190993<br>
                    학과: 컴퓨터공학과<br>
                    직책: 팀장
                </p>
            </div>
            <div>
                <p>
                    이름: 김영은<br>
                    학번: 20170669<br>
                    학과: 심리학과<br>
                    직책: 팀원
                </p>
            </div>
            <div>
                <p>
                    이름: 김민선<br>
                    학번: 20182293<br>
                    학과: 컴퓨터공학과<br>
                    직책: 팀원
                </p>
            </div>
            <div>
                <p>
                    이름: 김수빈<br>
                    학번: 20190958<br>
                    학과: 컴퓨터공학과<br>
                    직책: 팀원
                </p>
            </div>
        </div>
        <p style="text-align: center;">© SSWU 2021-2 데이터베이스 프로그래밍 12팀</p>
    </div>
</footer>