<nav>
    <div class="nav_box">
        <div class="nav_logo">
            <img src="/img/logo.png" alt="수룡" width="50">
            <a href="/home"><strong>다있수룡</strong></a>
        </div>

        <div class="nav_menu">
            <ul>
                <li><a href="/mypage">마이페이지</a></li>
                <li><a href="/admin">관리자 페이지</a></li>
                <li>안녕하세요! {사용자}님</li>
                <li><a href="/">로그아웃</a></li>
            </ul>
        </div>
    </div>
  </div>
</nav>
