<!DOCTYPE html>
<html>
    <head>
       <%-include ('baseHead.ejs')%>       
    </head>

    <body>
      <%-include ('nav.ejs')%>
    <div class="container" style="padding-top: 90px; padding-bottom: 90px;">
      <div >
        <%-include ('reverse_check.html')%>   
      </div>


    </div>
    <%-include ('footer.ejs')%>
</body>
</html>