<!DOCTYPE html>
<html lang="ko">
  <head>
    <%-include ('baseHead.ejs')%>
    <link rel="stylesheet" href="/css/suggestion.css" />
  </head>
  <body>
    <%-include ('nav.ejs')%>
    <div class="suggestion_container">
      <div class="text-container">
        <p class="text">건의사항을<br />자유롭게<br />작성해주세요!</p>
      </div>
      <img class="suryong" src="../img/suryong.png" />
      <div class="suggestion-container">
        <form action="/suggestion" method="POST">
          <textarea name="text" class="textarea" name="description"></textarea>
          <button type="submit" class="btn">보내기</button>
        </form>
      </div>
    </div>
    <%-include ('footer.ejs')%>
  </body>
</html>
