<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <title>다있수룡</title>

    <style>
      /*건의사항 작성 페이지 div*/
      .suggestion_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      /*안내 문구*/
      .text-container {
        position: relative;
      }

      .text {
        position: absolute;
        top: 4vh;
        left: 12vh;
        width: 13vh;
        font-size: 1vw;
        font-weight: bold;
      }

      /*수룡이 이미지*/
      .suryong {
        width: 13vw;
        width: 13vw;
      }

      /*건의사항 작성 폼*/
      .suggestion-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #cabbe9;
        width: 43vw;
        height: 56vh;
        border-radius: 10px;
      }

      .textarea {
        margin-top: 40px;
        width: 39vw;
        height: 42vh;
        border: 0;
        border-radius: 10px;
      }

      .btn {
        margin: 8px;
        background-color: #ffcef3;
        width: 100px;
        font-weight: bold;
        color: #ffffff;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="suggestion_container">
      <div class="text-container">
        <p class="text">건의사항을<br />자유롭게<br />작성해주세요!</p>
      </div>
      <img class="suryong" src="../img/suryong.png" />
      <div class="suggestion-container">
        <form action="/suggestion" method="POST">
          <textarea name="text" class="textarea" name="description"></textarea>
          <button type="submit" class="btn">보내기</button>
        </form>
      </div>
    </div>
  </body>
</html>
