/*서비스 소개*/
.introduce{
    background-color: #F6F6F6;
    height:200px;
    text-align: center;
}
  
/*대여 가능한 물품 목록*/
.cardlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.cardoutter{
    background-color: #CABBE9;
    border: 1px solid #CABBE9;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    margin-top: 30px;
}

.productimg{
    height: 250px;
    width: 230px;
    margin-left: 30px;
    margin-top: 15px;   
}

.homeBtn{
    /* width: 120px; */
    width: 250px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-borrow{
    background-color: #A1EAFB;
    border: 1px solid #A1EAFB;
    border-radius: 5%;
    color: white;
}

.btn-reserve{
    background-color: #FFCEF3;
    border: 1px solid #FFCEF3;
    border-radius: 5%;
    color: white;
}
h4{
    font-family: 'Noto Sans KR', sans-serif;
    
}
h5{
    font-family: 'Noto Sans KR', sans-serif;
}
h6{
    font-family: 'Noto Sans KR', sans-serif;
}
