h4{
    color: #767676;
    text-align: center;
}

.mypage{
    text-align: center;
    padding: 20px 0px 60px 0px;
}

.outter{
    display: flex;
    justify-content: center;
}

/*나의 정보*/
.info{
    flex-grow:1;
}
.infoBox{
    background-color: #E5E5E5;
    width: 260px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 70px;
}

.status{
    background-color: white;
    width: 200px;
    height:90px;
    margin-left: 30px;
    font-size: 25px;
    justify-content: center;
    margin-top: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*대여한 물품 리스트*/
.history{
    flex-grow: 4;
}

.historyList{
    display: flex;
    flex-wrap: wrap;
}

.list{
    background-color: #E1D7F4;
    padding: 15px 40px 10px 25px ;
    border: 1px solid #E1D7F4;
    border-radius: 5px;
    margin: 10px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex-grow: 1;
    display: flex;
}

.list2{
    padding: 23px 10px 2px 230px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 10px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex-grow: 1;
}

.emptyList{
    background-color: #E1D7F4;
    padding: 40px;
    border: 1px solid #E1D7F4;
    border-radius: 5px;
    flex-grow: 1;
}

.listImg{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.productName{
    font-weight: bold;
    font-size: x-large;
}
.reserveNumber{
    font-weight: bold;
   
}

.term{
    margin-top: 8px;
}

/*건의사항 버튼*/
.button-72 {
    
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#CABBE9,#CABBE9 50%);
    border-radius: 42px;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: Quicksand,sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    margin-top: 10px;
    width: 260px;
  }
  
  
  @media (min-width: 768px) {
    .button-72 {
      font-size: 21px;
      padding: 18px 34px;
    }
  }