/*수룡이 이미지*/
.wrapper{
    width:200px;
    height: 200px;
    margin:0 auto;
}

.formImg{
    width:100%;
    height:100%;
    object-fit: cover;
}

/*form*/
.block1-2 {
    flex-direction: column;
    width: 50%;
    height: 330px;
    margin-bottom: 30px;
    justify-content:center;
    align-items: center;
    background-color: #CABBE9;
    display: flex;
    margin:0 auto;
    border-radius : 20px;
}
.block1-3 {
    width: 95%;
    height: 230px;
    margin: auto;
    border-radius : 20px;
    background-color: #FFFFFF;
}

/*버튼*/
.buttonoutter{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    padding:5px;
}
button{
    color:white;
    width:90px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}
#rent{
    background-color: #93EBFF;
    border:1px solid #93EBFF;
    border-radius:10%;
}

#reserve{
    background-color: #FFB8EF;
    border:1px solid #FFB8EF;
    border-radius:10%;
}

.content1{
    margin-bottom: 30px;
}